*{
    background-color: pink;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }


/* NAVBAR */
.navItems {
    height: 80%;
 }
 .nav-logo {
     height: 120px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: pink;
   list-style: none;
 }
 
  
    .container_image{
        width: 300px;
        height: 200px;
        object-fit: contain;

    }

    .gridContainer{
     
        text-align: center;
        justify-content: space-between;
    }
.container_image {
    border: white solid;
    background-color: white;
    height: 320px;
    border-radius: 10px;
}
    /* FOOTER */
    
    .logos{
        height: 40px;
    }
    .pointinguparrow{
        float: right;
        height: 25px;
    }
    a:link {
        color: white;
        text-decoration: none;
      }
      
      
      a:visited {
        color: white;
      }
      
      
      a:hover {
        color: rgb(255, 0, 98);
      }
      
      a:active {
        color:white;
      }

      @media only screen and (max-width: 530px) {
       img {
          width: 20vh; 
       }
      }