img {
    margin: 15px;
    border: solid hotpink 3px;
  }

  body {
    background: lightsalmon;
  }

  .container {
    margin: 1rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 23% 23% 23% auto;
        grid-template-columns: 23% 23% 23% auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "header header header header" "subheader subheader subheader subheader" "article article article pic";
  }

  .header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: header;
    text-align: center;
  }

  .header p {
    font-size: .75rem;
    text-align: center;
  }

  .aligntxt {
    text-align: center;
  }

  .bold-headertxt {
    font-size: 2.5rem;
    margin-bottom: 0;
    text-align: center;
  }

  .bold-headertextcolor {
    font-size: 4.5rem;
    color: white;
    border: 3px solid hotpink;
    padding-right: 450px;
    padding-left:400px;
    text-align: center;
  }

  .header2text {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: subheader;
    font-size: 1.3rem;
    margin-top: .5rem;
  }

h2{
    text-decoration: underline;
}

  h3 {
      font-size: 25px;
  }

article {
  padding: 10px;
  margin: 5px;
}

  .info {
     &border {
          border: 3px solid hotpink;
      }
  }
  

  .pic-2 {
    width: 320px;
    margin-left: 329px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .pic-3 {
    width: 320px;
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  footer {
      border: 3px solid hotpink;
      font-size: 3rem;
      padding-left: 450px;
      color: white;
  }